
<!--Driver creation-->
<div class="col-12 grid-margin strech-card" [hidden]="submitted">
  <div class="mat-card">
      <div class="card-body">
          <h4 class="mat-card-title">Driver Isue form</h4>
          <form  #f="ngForm" novalidate (ngSubmit)="addFranchise(f)" #franchiseForm="ngForm" >
                  <div class="form-group">
                    <label for="franchiseId">Franchise_Id</label>
                    <input matInput type="text"  class="form-control"  class="form-control"   id="franchiseId" placeholder="franchiseID" 
                     required [(ngModel)]="franchise.franchiseId" name="franchiseId" #franchiseId="ngModel" >
                    <div [hidden]="franchiseId.valid || franchiseId.pristine"
                    class="alert alert-danger">
                   Franchise_Id is required
               </div>
                </div>
              
                  <div class="form-group">
                      <label for="franchiseIssueType">FranchiseIsssue_Type</label>
                      <input matInput type="text" class="form-control" id="franchiseIssueType"  [(ngModel)]="franchise.franchiseIssueType" name="franchiseIssueType"   placeholder="franchiseIssueType"   />
                  </div> 
                  <div class="form-group">
                    <label for="franchiseIssueDescription">Issue Description</label>
                    <input matInput type="text" class="form-control"  x columns="4" placeholder="description " id="franchiseIssueDescription" required 
                    [(ngModel)]="franchise.franchiseIssueDescription" name="franchiseIssueDescription"  #franchiseIssueDescription="ngModel">
                    <div [hidden]="franchiseIssueDescription.valid || franchiseIssueDescription.pristine"
                    class="alert alert-danger">
                  description is required
               </div>
                  </div>
  <br><br>
                  <mat-card-actions >
                    <button mat-raised-button type="submit" class="btn btn-success" [disabled]="!franchiseForm.form.valid">Submit</button>
                  </mat-card-actions>
                    <button class="btn btn-light">Cancel</button>
                </form>


      </div>
        


  </div>


</div>