
           <!-- Content of Dashboard-->
           <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Customer Issue Form</h4>
                  <p class="card-description" style="columns: #931445;">
                    * Please fill the below form
                  </p>
              
                  <form class="forms-sample"  #f="ngForm" name="form" (ngSubmit)="f.form.valid && addCustomer(f) && welcome(event)"  novalidate>
                    <div class="form-group">
                      <mat-form-field class="example-full-width">
                          <label for="Customer_Id" >Customer-ID</label>
                      <input matInput type="text" class="form-control" name="Customer-Id" [(ngModel)]="customer.customer_Id" #customer_Id="ngModel" [ngClass]="{ 'is-invalid': f.submitted && customer_Id.invalid }" required />
                      <div *ngIf="f.submitted && customer_Id.invalid" class="invalid-feedback">
                        <div *ngIf="customer_Id.errors.required">Customer-Id is required</div>
                         </div>
                      </mat-form-field>
                    </div>


                  


                  <div class="form-group">
                      <mat-form-field>
                          <label for="Issue_Type" >Issue_Type</label>
                      <mat-select class="form-control" [(ngModel)]="customer.issue_Type" name="issueType"  id="contry" #issue_Type="ngModel" [ngClass]="{ 'is-invalid': f.submitted && issue_Type.invalid }" required>
                        <mat-option *ngFor="let contry of countries" value={{contry.name}}>{{contry.name}}</mat-option>
                      </mat-select>
                      <div *ngIf="f.submitted && issue_Type.invalid" class="invalid-feedback">
                          <div *ngIf="issue_Type.errors.required">Issue_Type is required</div>
                           </div>
                    </mat-form-field>
                    </div>
                   

                    <div class="form-group">
                        <mat-form-field>
                      <label for="exampleInputPassword4">Issue Description</label>
                      <textarea matInput [(ngModel)]="customer.issue_Description" name="description" class="form-control"  id="exampleTextarea1" rows="4" #issue_Description="ngModel" [ngClass]="{ 'is-invalid': f.submitted && issue_Description.invalid }" required></textarea>
                      <div *ngIf="f.submitted && issue_Description.invalid" class="invalid-feedback">
                          <div *ngIf="issue_Description.errors.required">Description is required</div>
                           </div>
                    </mat-form-field>
                    </div>


                    <div class="form-group">
                      
                        <label for="image-file" >Upload Image</label><br>
                        <input type="file" id="abc" [(ngModel)]="customer.path" (change)="welcome($event)" name="filepath" required />
                          
                    
                     
                    </div>

                      <button type="submit" class="btn btn-success">Submit</button>&nbsp; &nbsp;
                      <button type="reset" class="btn btn-primary">Cancel</button>
                  </form>
                </div>
              </div>
          
              
          </div>

  