<div class="col-md-12 grid-margin stretch-card">
  <div class="card">
      <div class="card-body">
<h2 style="text-align: center"> Driver Priority Issue List</h2>
<title>Driver Issue List</title>
<table class="table table-striped table-bordered">
  <thead >
  <tr>
    
    <th>Driver_ID</th>
    <th>Type Of Issue</th>
    <th>Issue_Description</th>
    <th>Priority</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let drive of drivers.data">
      
    <td >{{drive.driverId}}</td>
    <td>{{drive.issueType}}</td>
    <td>{{drive.issueDescription}}</td>
    <td>{{drive.priority}}</td>
    <td><button class="btn btn-success" type="submit" (click)="getDriverPriority(drive)"> View</button></td>
  </tr>
  </tbody>
</table>
</div>
</div>
</div>
