<div class="col-md-12">
  <h2> High Priority List</h2>
  <table class="table table-striped table-bordered">
    <thead >
    <tr>
      <th>driverId</th>
      <th>Type Of Issue</th>
      <th>Description</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let highprioritylist of drivers.data">
      
        <td >{{highprioritylist.driverId}}</td>
        <td>{{highprioritylist.issueType}}</td>
        <td>{{highprioritylist.issueDescription}}</td>
        <td>{{highprioritylist.isActive}}</td>
      <td><button class="btn btn-danger"(click)="getPrioritys(highprioritylist)"> View Details</button></td>
    </tr>

    </tbody>
  </table>
  </div>


